.header {
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  /* background-color: #2f71c1; */
  background-color: #ffffff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  font-size: 1.2vw;
}

.logo {
  font-family: 'Lato', sans-serif;
  /* font-size: 2rem; */
  font-size: 2.5vw;
  color: #2f71c1;
  margin: 0;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin: 0 1rem;
}

.header a {
  text-decoration: none;
  color: #545454;
  font-weight: bold;
}

.header button {
  font: inherit;
  background-color: transparent;
  border: 1px solid #cacaca;
  color: #545454;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}

.header a:hover {
  color: #1a6ff8;
}

.header button:hover {
  /* background-color: #c291e2; */
  color: #1a6ff8;
}